# Due to binaries on linux having no extension and having the same name as some folders
# we need to do this to ignore the binaries, but not the folders ( applies to remap and radiant )
# https://stackoverflow.com/questions/5711120/gitignore-binary-files-that-have-no-extension
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Normal gitignore:
# Editor caches
.vscode
.vs
out

# Cmake
CMakeFiles
cmake_install.cmake
CMakeCache.txt
cmake_uninstall.cmake

# Unix makefiles
Makefile

# Assimp
libs/assimp/out
libs/assimp/bin
libs/assimp/generated
libs/assimp/assimp.pc
libs/assimp/revision.h

# Windows binary files
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.lib

*.manifest

# Windows cmake packages
windeps

# Unix binary files
*.so
libassimp.*